{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="border-radius: 15px; width: 100%; "
                 src="https://cinema5.cinemabox.team/storage/uploaded/cinema_photos/20.04.2021/607ea70f571f49.66432167.jpg"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="border-radius: 15px; width: 100%; "
                 src="https://cinema5.cinemabox.team/storage/uploaded/cinema_photos/06.04.2021/606c44cfd14083.62343697.jpg"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="border-radius: 15px; width: 100%; "
                 src="https://cinema5.cinemabox.team/storage/uploaded/cinema_photos/13.04.2021/60759f7b0a7d07.60335807.jpg"
                 alt="Third slide">
        </div>
    </div>
</div>
{% if current_user.is_authenticated and current_user == user%}
<a href="add_film" class="btn btn-info" style="margin-top: 5%; margin-left: 3%;">Добавить фильм</a>
{%endif%}
<span style="display: flex; flex-wrap: wrap; flex-direction: row; ">
    {% for item in films%}
    <div class="card"
         style="width: 510px; border-radius: 15px; margin-top: 5%; margin-left: 3%;display: flex; flex-wrap: wrap;  ">
        {% if current_user.is_authenticated and current_user == user%}
        <div style="display: flex; flex-wrap: wrap; flex-direction: row;">
            <a href="schedule/{{item.id}}" class="btn btn-secondary">Добавить расписание к фильму</a>
            <a href="films_delete/{{item.id}}" class="btn btn-danger">Удалить фильм</a>
        </div>
        {% endif %}
                <span style="display: flex; ">
                        <div class="img">
                            <img src="{{item.link_img}}"
                                 style="border-radius: 15px; border: 5px #ccc solid; width: 200px; height: auto(75px); "
                                 alt=""
                                 title={{item.title}}>
                                <div style="background-color: rgb(208, 2, 27); color: rgb(255, 255, 255);
                                margin-top: 7px; border-radius: 15px;">
                                    <span style="margin-left: 25%;">Премьера</span></div>
                        </div>
                        <span>
                            <h4 style="">{{item.title}}</h4>
                            <span style="">{{item.genres}}</span><br>

                            <span style="">
                                    <!--margin-left: 10%; margin-bottom: 10%; display: flex;flex-wrap: wrap; width: 13%; lex-direction: row;-->
                                {% for time in times%}
                                    {% if item.id == time.id_film %}
                                        {%if time.time[:6] > time_now%}
                                            {% if current_user.is_authenticated and current_user == user%}
                                                <a href="schedule_delete/{{time.id}}" class="btn btn-danger">Удалить-></a>
                                            {% endif %}

                                            <span style="">
                                            <a class="btn btn-outline-primary" href="booking/{{item.id}}/{{time.id}}"
                                               style="margin-left: 4px;">{{time.time}}</a>
                                            </span>
                                        {%endif%}
                                    {%endif%}
                                <!--style="margin-bottom: 10%; display: flex; flex-wrap: wrap; flex-direction: row; justify-content:flex-start;"-->
                                {% endfor %}
                            </span>
                        </span>
                </span>
</div>

{% endfor %}
</span>
{% endblock %}
