{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control") }}<br>
        {% for error in form.time.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.date_day.label }}<br>
        {{ form.date_day(class="form-control") }}<br>
        {% for error in form.date_day.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <div class="form-group">
        <label for="classSelect">Месяц</label>
        <select class="form-control" id="classSelect" name="class">
          <option>Апрель</option>
          <option>Май</option>
          <option>Июнь</option>
          <option>Июль</option>
          <option>Август</option>
          <option>Сентябрь</option>
          <option>Октябрь</option>
          <option>Ноябрь</option>
          <option>Декабрь</option>
          <option>Январь</option>
          <option>Февраль</option>
          <option>Март</option>
        </select>
     </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}